body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1{
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(135deg, #0a1a3c 0%, #1d2557 100%);
  box-sizing: border-box;
  padding-bottom: 40px;
  padding-top: 60px;
}
